/*
TODO List:
Slides de 3 ou 4 photos 1h30 DONE
resizer photos en 1280* 480 A REFAIRE
Faire un onglet Nos produits ou on parle des fournisseurs 2h DONE
Faire un onglet Presse 20min DONE
Ressortir le logo en svg, pourquoi pas une deuxieme version
avec feuille qui s'affiche quand on passe la souris dessus 2h ou 3h avec option RESTE OPTION
Faire un background correct 2h DONE
faire la section contact avec mail contact 3h
Faire l'intégration gg maps 1h
Faire que les liens internes ne nous fassent pas arriver 130 px trop bas a cause du menu fixe DONE
Ajuster le responsive design 4h

Effet NoteBook fond beige une ligne par ingredients
style photos menu (superposition et hauteur largeur normalisee
faire un selecteur version ... verion normale qui change la photo
changer parisienne en pirmavera artichauts roquette tapenade DONE
changer hispanique epheemere en parisienne ephere (mettre mozza paris DONE
kick chorizo
check comment faire apparaitre notre manifesto en tete de google



*/

html {
    background-color: #f7f8f8;
}
body {
    font-family: 'Cookie', cursive;
    padding: 0px;
    margin: 0px 0px;
    /*  grid-row-gap: 2px;
      display: grid;
      grid-template-rows: auto auto auto auto auto auto; */
    font-size: 12px;
    width: 100%;
}

.top {
    display: grid;
    grid-template-columns: 0.4fr 0.8fr 0.8fr 0.8fr 0.8fr 2.6fr 0.8fr 0.8fr 0.8fr 0.8fr 0.4fr;
    grid-template-rows: 100px 30px;
    position:  fixed;
    top: 0%;
    width: 100%;
    background-color: #363945;
  /*  background-image: linear-gradient(#E0B589,#E0B589,#f7f8f8); */
    background-image: linear-gradient(#A553C2, #A553C2, #FEB4FD);
    text-align: center;
    align-items: center;
    font-family: 'Tangerine', cursive;
    z-index: 1;
    /* left: 6%;/*
     transform: translateX(-90%); */
}

.lien {
    justify-self: center;
    color: black;
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
    color: darkolivegreen;
}

/* Section destinee a compenser le menu fixe en haut
de la page quand on clique sur le lien qui relie vers l id */
#Pizzas:target {
    padding-top: 130px;
    margin-top: -130px;
}
#Produits:target {
    padding-top: 130px;
    margin-top: -130px;
}

#Suivre:target {
    padding-top: 130px;
    margin-top: -130px;
}

#Propos:target {
    padding-top: 130px;
    margin-top: -130px;
}

#Presse:target {
    padding-top: 130px;
    margin-top: -130px;
}


#Contact:target {
    padding-top: 130px;
    margin-top: -130px;
}

.titre {
    font-family: 'Tangerine', cursive;/*
    font-family:Apple Chancery, cursive;*/
    font-style: italic;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    color: darkolivegreen;
}


.topUber {
}
.topDeliveroo {
}
/*
.ep {
    background-color: darkolivegreen;
    grid-column: span 4;
}
*/
.topPizzas {
}

.topProduits {
}

.topLogo {
    grid-row: span 2;
    text-align: center;

    object-fit: center;
}

#logo1 {
    position: center;
    max-width: 20vw;
    height: auto;
    max-height: 170px;
    margin: auto;
    object-fit: center;
}

.topPropos {
}

.topSuivre {
}

.topPresse {
}

.topContact {
}
.ep2 {
    grid-column: span 5;
}
.ep3 {
    grid-column: span 5;
}
.mainSlides {
    padding-top: 130px;
    background-color: dimgrey;
}
/*
.slideItem {
    width: 100%;
    height: 3vh;
} */
.photoPizza{
    position:relative;
    display:grid;
    grid-template-columns: auto;
    width: 28vw;
}
.mainPizzas {
    /*    grid-column: span 18; */
}
h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
}
h3 {
    font-size: 0.6em;
    font-weight: bold;

    font-family: 'Cookie', cursive;
}
li {
    display: grid;
    justify-content: left;
    text-align: left;
    font-size:calc(14px + .3vw);
}
.recettes {
    display: grid;
    grid-template-columns:0.2fr 2fr 2fr 2fr 0.2fr;
    grid-column-gap: 15px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    text-align: left;
}

.ingredients, .productItem{
  /*  background-image:url(fixes/menu_background.jpg);
   background-color: #E0B589;
      opacity: 1;
    background-size: cover; */
    /*background-color: rgba(244, 181, 137, 0.3); */
    background-color: #4b9a57;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b0f2a7' fill-opacity='0.24'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    border: 3px darkolivegreen double;
    border-radius: 5px;
}

.nomPizza {
    font-size: 2.8vw;
    text-align: center;
}

.selecteurVersion {
    display: grid;
    justify-items: center;
    justify-self: end;
    align-items: end;
}

.btn {
    display:inline-block;
    text-align:center;
    font-family: 'Cookie', cursive;
    font-size: 18px;

}

.mainProduits{

}
.listeProduits {
    display: grid;
    grid-template-columns: 0.2fr 2fr 2fr 2fr 0.2fr;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 10px;

}

.mainPresse {
}

.mainSuivre {
}
.tabRes{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows:auto auto;
}
.tabPropos {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
}

.tabPresse {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
}
.mainContact {
    grid-column: span 18;
}
.rsCase {
}
p{
    margin: 20px;
    font-size: 0.4em;
    font-weight: lighter;

    font-family: 'Cookie', cursive;
}

.logoRS {
    width: 8vw;
    height: 100%; /*
    min-width: 15vw;
    min-height: 15vh; /*
    max-width: 150px;
    max-height: 150px; */
}


/*
Cette partie concerne le slideshow du début de page
 */

#slideshow {
    position: relative;
    width: 91%;
    height: auto;
    padding: 0px;
    margin: 0px auto 2em;
    border: 0px solid #ddd;
    background: black;
    /* CSS3 effects */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    z-index: -10;
}

/* avanced box-shadow
 * tutorial @
 * https://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow
*/
#slideshow:before,
#slideshow:after {
    position: absolute;
    bottom:16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
}
#slideshow:before {
    left:0;
    transform: rotate(-4deg);
}
#slideshow:after {
    right:0;
    transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
    position:relative;
    width: 100%;
    background-size: contain;
    height: 250px;
    overflow: hidden;
}

/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
    position:absolute;
    bottom: 0; left:0;
    content: " ";
    width: 100%;
    height: 1px;
    background: #999;
}
/*
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
    position: absolute;
    left:0; top:0;
    width: 305%;
    height: 200px;
}

/* annulation des marges sur figure */
#slideshow figure {
    position:relative;
    display:inline-block;
    padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
    position: absolute;
    display:block;
    content: " ";
    top:0; left:0;
    width: 100%; height: 100%;
    box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider {
    0%, 30%, 100%	{ left: 0 }
    33%, 66%		{ left: -100% }
    69%, 97%		{ left: -200% }
}

/* complétez le sélecteur : */
#slideshow .slider {
    /* ... avec la propriété animation */
    animation: slider 18s infinite;
}

.slideItem {
    width:90vw;
    height: 250px;
}


